@import "tailwindcss";

@layer base {
  :root {
    --font-headline: 'Syne', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  body {
    font-family: var(--font-body);
    background-color: #121315;
    color: #e3e2e5;
  }

  h1, h2, h3, h4, .font-syne {
    font-family: var(--font-headline);
  }

  .font-mono-code {
    font-family: var(--font-mono);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d0e10;
}

::-webkit-scrollbar-thumb {
  background: #292a2c;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c57d3c;
}
